[Unit]
Description=.NET service to serve dargonzone frontend
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/home/dragonzone-frontend/publish/
ExecStart=/usr/bin/dotnet /home/dragonzone-frontend/publish/POS.dll --urls http://127.0.0.1:5054
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dotnet-dragonzonefrontend
Environment=ASPNETCORE_ENVIRONMENT=Development
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target