autopep8
bcrypt
black
blinker
cffi
click
colorama
dnspython
email-validator
Flask
Flask-Bcrypt
Flask-Cors
Flask-Mail
Flask-Moment
flask-mongoengine
Flask-WTF
idna
itsdangerous
Jinja2
MarkupSafe
mongoengine
mypy-extensions
numpy
pandas
pathspec
platformdirs
pycodestyle
pycparser
pymongo
python-dateutil
pytz
regex
six
toml
tomli
typing-extensions
Werkzeug
WTForms
