{% extends 'index.html' %}
{% block scripthead %}

<script>
    response_code = parseInt("{{response_code}}")
    response_message = "{{response_message}}"
    {% if response_code == 200 %}
    console.log({{response_data|tojson}})
    // document.location = "/home"
    alert(`Lead Added \n` + `{{ response_data| tojson}}`)
    {% endif %}
    {% if response_code == 4003 %}
    alert(`Validation Failed \n` + `{{ response_data| tojson}}`)
    console.log({{ response_data| tojson}})
    {% elif response_code != 200 %}
    // alert(`Error \n` + `{{ response_message}}`)
    {% endif %}

</script>
{% endblock %}
{% block content %}





<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">


            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Add Follow up</h4>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- end row -->


            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box">
                        <div class="row">
                            <form class="form-horizontal" action="/api/follow_ups/create" method="POST" id="follow_up_form">
                                <input type="hidden" name="lead" value="{{response_data.id}}" >
                                <h4 class="page-title">Current Task</h4>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Type *</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" required name="type" title="type">
                                                <option value=""></option>
                                                <option value="Meeting">Meeting</option>
                                                <option value="Call">Call</option>
                                                <option value="Email">Email</option>
                                                <option value="Sale">Sale</option>
                                                <option value="Acquisition">Acquisition</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Sub Type *</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" required name="sub_type" title="sub_type">
                                                <option value=""></option>
                                                <option value="SMS">SMS</option>
                                                <option value="Contacted_client">Contacted Client</option>
                                                <option value="Call_attempt">Call Attempt</option>
                                                <option value="Followed_up">Followed Up</option>
                                                <option value="Whatsapp_call">Whatsapp call</option>
                                                <option value="Whatsapp_message">Whatsapp Message</option>
                                                <option value="Meeting_Confirmed">Meeting Confirmed</option>
                                                <option value="Meeting_cancelled">Meeting Cancelled</option>
                                                <option value="Meeting_postponed">Meeting Postponed</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Level*</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" required name="lead_level" title="lead_level">
                                                <option value=""></option>
                                                <option value="AtomBomb">Atom-Bomb</option>
                                                <option value="Hot">Hot</option>
                                                <option value="Moderate">Moderate</option>
                                                <option value="Cold">Cold</option>
                                                <option value="SubZero">Sub-Zero</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Status*</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" required title="lead_status"
                                                name="lead_status">
                                                <option value=""></option>
                                                <option value="Interested">Interested</option>
                                                <option value="Not Interested">Not Interested</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Completion Date</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control datetime-picker" required
                                                title="completion_date" name="completion_date" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Comment*</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" required title="comment"
                                                name="comment"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <h4 class="page-title">Next Follow up</h4>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Next Task *</label>
                                            <div class="col-sm-10">
                                                <select class="form-control" required name="next_task"
                                                    title="Next Task">
                                                    <option value=""></option>
                                                    <option value="DoNothing">Do Nothing</option>
                                                    <option value="ContactClient">Contact Client</option>
                                                    <option value="FollowUp">Follow Up</option>
                                                    <option value="ReceiveTokenPayment">Receive Token Payment</option>
                                                    <option value="MeetClient">Meet Client</option>
                                                    <option value="ArrangeMeeting">Arrange Meeting</option>
                                                    <option value="ReceivePartialDownPayment">Receive Partial Down
                                                        Payment</option>
                                                    <option value="ReceiveCompleteDownPayment">Receive Complete Down
                                                        Payment</option>
                                                    <option value="Closed(Won)">Closed (Won)</option>
                                                    <option value="SignSaleAgreement">Sign Sale Agreement</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Project</label>
                                            <div class="col-sm-10">
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control"
                                                        title="Project" name="next_project" value="" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Deadline</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control datetime-picker" required
                                                    title="next" name="next_deadline" />
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Comment</label>
                                            <div class="col-sm-10">
                                                <textarea class="form-control" title="comment"
                                                    name="next_comment"></textarea>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                                <input class="btn btn-default" type="submit" value="Save">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->


        </div> <!-- container -->

    </div> <!-- content -->


</div>

<script>
    $(".datetime-picker").datetimepicker({
        format: 'YYYY-MM-DD hh:mm:ss'
    })
    const params = new URLSearchParams(window.location.search);
    const lead = params.get("lead");
    console.log(lead);
    // $("#follow_up_form").append(`<input type="hidden" name="lead" value="${lead}" >`)
    console.log("Element added")
</script>
{% endblock %}