{% extends 'index.html' %}
{% block scripthead %}

<script>
    response_code = parseInt("{{response_code}}")
    response_message = "{{response_message}}"
    {% if response_code == 200 %}
    console.log({{response_data|tojson}})
    // document.location = "/home"
    {% endif %}
    {% if response_code == 4003 %}
    alert(`Validation Failed - Please recheck submitted data\n` + `{{ response_data| tojson}}`)
    console.log({{ response_data| tojson}})
    {% elif response_code != 200 %}
    // alert(`Error \n` + `{{ response_message}}`)
    {% endif %}

</script>
{% endblock %}
{% block content %}





<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">


            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Bulk Transfer</h4>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- end row -->
            <div class="row" id="filter">
                <div class="col-xs-12">
                  <form action="/api/leads/bulktransfer" method="POST" id="leads_date">
                    <div class="col-xs-12">
                      <div class="form-group">
                        <div class="col-sm-6">
                            <label>Transfer From</label>
                            <select class="form-control" name="assigned_to" title="assigned_to">
                                {% for user in response_data %}
                                <option value="{{user.id}}">{{user.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label>Transfer To</label>
                            <select class="form-control" name="transfer_to" title="transfer_to">
                                {% for user in response_data %}
                                <option value="{{user.id}}">{{user.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Count</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" name="count"
                                        placeholder="Count">
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-sm-12">
                        <button class="applyBtn btn btn-sm btn-success" type="submit">Submit</button>
                    </div>
                  </form>
                </div>
              </div>

        </div> <!-- container -->

    </div> <!-- content -->



</div>
<script>
    $(".datetime-picker").datetimepicker({
        format: 'YYYY-MM-DD hh:mm:ss'
    })
</script>
{% endblock %}