{% extends 'index.html' %}

{% block scripthead %}
<script>
    response_code = parseInt("{{response_code}}")
    response_message = "{{response_message}}"
    {% if response_code == 200 %}
    sessionStorage.setItem("leadsObj", '{{response_data|tojson}}')
    console.log({{ response_data | tojson}})
    // document.location = "/home"
    {% else %}
    console.log({{ response_data| tojson}})
    {% endif %}
    const leadsObj = {{ response_data| tojson}}

</script>
{% endblock %}

{% block content %}

<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">
            <div class="row">

                <div class="col-xs-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Dashboard</h4>
                        <div class="clearfix"></div>
                    </div>
                </div><!-- end col -->

                <div class="col-lg-2 col-md-4 col-sm-6">
                    <a href="#">
                    <div class="card-box widget-box-one">
                        <i class="mdi mdi-account-multiple widget-one-icon"></i>
                        <div class="wigdet-one-content">
                            <p class="m-0 text-uppercase font-600 font-secondary text-overflow">new leads</p>
                            <h2 class="text-success"><span data-plugin="counterup">{{response_data.new_leads}}</span>
                            </h2>
                        </div>
                    </div>
                    </a>
                </div><!-- end col -->

                <div class="col-lg-2 col-md-4 col-sm-6">
                    <a href="/api/leads/followups?&assigned_to={{response_data.user[1]}}&day=today">
                    <div class="card-box widget-box-one">
                        <i class="mdi mdi-account-convert widget-one-icon"></i>
                        <div class="wigdet-one-content">
                            <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Pending Tasks">
                                Pending Tasks</p>
                            <h2 class="text-warning"><span data-plugin="counterup">{{response_data.today}}</span> </h2>
                        </div>
                    </div>
                    </a>
                </div><!-- end col -->

                <div class="col-lg-2 col-md-4 col-sm-6">
                    <a href="/api/leads/followups?&assigned_to={{response_data.user[1]}}&day=overdue">
                    <div class="card-box widget-box-one">
                        <i class="mdi mdi-av-timer widget-one-icon"></i>
                        <div class="wigdet-one-content">
                            <p class="m-0 text-uppercase font-600 font-secondary text-overflow">Overdue Tasks</p>
                            <h2 class="text-danger"><span data-plugin="counterup">{{response_data.overdue}}</span> </h2>
                        </div>
                    </div>
                    </a>
                </div><!-- end col -->

                <div class="col-lg-2 col-md-4 col-sm-6">
                    <a href="#">
                    <div class="card-box widget-box-one">
                        <div class="wigdet-one-content">
                            <p class="m-0 text-uppercase font-600 font-secondary text-overflow">Monthly Target</p>
                            <h2 class="text-success"><span data-plugin="counterup">52410 </span></h2>
                        </div>
                    </div>
                    </a>
                </div><!-- end col -->

                <div class="col-lg-2 col-md-4 col-sm-6">
                    <a href="#">
                    <div class="card-box widget-box-one">
                        <i class="mdi mdi-account-multiple widget-one-icon"></i>
                        <div class="wigdet-one-content">
                            <p class="m-0 text-uppercase font-600 font-secondary text-overflow">Meetings </p>
                            <h2 class="text-danger"><span data-plugin="counterup">{{response_data.overdue}}</span> / 30
                            </h2>
                        </div>
                    </div>
                    </a>
                </div><!-- end col -->

                <div class="col-lg-2 col-md-4 col-sm-6">
                    <a href="#">
                    <div class="card-box widget-box-one">
                        <i class="mdi mdi-currency-usd widget-one-icon"></i>
                        <div class="wigdet-one-content">
                            <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Pending Tasks">
                                Total Sales</p>
                            <h2 class="text-warning"><span data-plugin="counterup">4</span> </h2>
                        </div>
                    </div>
                    </a>
                </div><!-- end col -->
            </div>
            <!------row div-->>

            <div class="graph">
                <!----Graph starts----->
                <div class="col-lg-4">
                    <div class="card-box">

                        <h4 class="header-title m-t-0"> Activies Analytics </h4>

                        <div class="widget-chart text-center">
                            <div id="morris-donut-example" style="height: 245px;">
                            </div>
                            <ul class="list-inline chart-detail-list m-b-0">
                                <li>
                                    <h5 class="text-danger"><i class="fa fa-circle m-r-5"></i>Total Leads</h5>
                                </li>
                                <li>
                                    <h5 class="text-success"><i class="fa fa-circle m-r-5"></i>Working leads</h5>
                                </li>
                                <li>
                                    <h5 class="text-success"><i class="fa fa-circle m-r-5"></i>Over Due</h5>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div><!-- end col -->

                <div class="col-lg-4">
                    <div class="card-box">

                        <h4 class="header-title m-t-0">Statistics</h4>
                        <div id="morris-bar-example" style="height: 285px;"></div>
                    </div>
                </div><!-- end col -->

                <div class="col-lg-4">
                    <div class="card-box">

                        <h4 class="header-title m-t-0">Monthly Analytics</h4>
                        <div id="morris-line-example" style="height: 280px;"></div>
                    </div>
                </div><!-- end col -->

            </div>
            <!----Graph End----->

        </div> <!-- container card -->

    </div><!-- end content -->

</div><!-- end content page -->
<div class="charts">
    <div class="chart">
        <h2>reports</h2>
    </div>
    <div class="chart" id="doughnut-chart">
        <h2>employees</h2>
    </div>

</div>
<canvas id="myChart" width="400" height="400"></canvas>
<script>
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
{% endblock %}