{% extends 'index.html' %}
{% block scripthead %}

<script>
    response_code = parseInt("{{response_code}}")
    response_message = "{{response_message}}"
    {% if response_code == 200 %}
    console.log({{response_data|tojson}})
    // document.location = "/home"
    // alert(`Lead \n` + `{{ response_data| tojson}}`)
    {% endif %}
    {% if response_code == 4003 %}
    alert(`Validation Failed - Please recheck submitted data\n` + `{{ response_data| tojson}}`)
    console.log({{ response_data| tojson}})
    {% elif response_code == 6000 %}
    console.log({{response_message|tojson}})

    {% endif %}
    
</script>
{% endblock %}
{% block content %}





<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">


            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Find Branch</h4>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            end row
            
            <div class="row">
                <div class="col-sm-12">
                    <form class="form-horizontal" action="/api/branch/search" method="POST">
                    <div class="card-box">
                        <div class="row">
                            <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Name</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" name="phone_number"
                                                placeholder="+921234567890">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Lead ID</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" name="lead_id"
                                                placeholder="LD-1234">
                                        </div>
                                    </div>

                            </div>

                        <input class="btn btn-success" type="submit" value="Find">

                    </form>
                </div>
            </div> -->
            end row
            {% if response_data %}
            <div class="row">
                <div class="col-sm-12">
                    {% if response_data['branch']|length > 0 %}
                    <div class="row">
                        <label class="col-md-2 control-label">Branch ID: </label>
                        {{response_data['branch'].branch_id}}
                    </div>
                    <div class="row">
                        <label class="col-md-2 control-label">Assigned to: </label>
                        {{response_data['branch'].assigned_to}}
                    </div>
                    <div class="row">
                        <label class="col-md-2 control-label">Branch Created on: </label>
                        {{response_data['branch'].created_on}}
                    </div>
                    <div class="row">
                        <label class="col-md-2 control-label">Name: </label>
                        {{response_data['branch'].name}}
                    </div>
                     <div class="row">
                        <label class="col-md-2 control-label">Lead Level: </label>
                        {{response_data['branch'].lead_level}}
                    </div> 
                    <div class="row">
                        <label class="col-md-2 control-label">City: </label>
                        {{response_data['branch'].city}}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div calss="card-box">
            <div id="transfer-sec" class="row" style=" display:none">
                <div class="col-sm-6">
                    <div class="card-box">
                        <div class="row">
                            <form class="form-horizontal" action="#" method="" id="transfer_form">
                              <div class="col-sm-12">
                                  <div class="form-group">
                                      <label class="col-sm-2 control-label">Assign To *</label>
                                      <div class="col-sm-10">
                                          <select id="transfer_to" class="form-control" required name="transfer_to" title="transfer_to">
                                            {% for user in response_data['all_users'] %}
                                            <option value="{{user[0]}}">{{user[1]}}</option>
                                            {% endfor %}
                                          </select>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-sm-12">
                                <input id="branch_id" type="hidden" name="id" value="{{response_data['branch'].id}}">
                            </div>
                                <div class="col-sm-12">
                                    <button id="transferbtn" class="applyBtn btn btn-sm btn-success" >Assign</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            </div>
            {% endif %}

        </div> <!-- container -->

    </div> <!-- content -->



</div>
<script>
    $(".datetime-picker").datetimepicker({
        format: 'YYYY-MM-DD hh:mm:ss'
    });
    // if (TokenObj.user.role.user_role_id <= 3) {
    //     var x = document.getElementById("transfer-sec");
    //     if (x.style.display === "none") {
    //         x.style.display = "block";
    //     }
    // };

// $("#transfer_form").submit(function (event) {
//   $('#transferbtn').attr("disabled", true);

    // var formData = {
    //   branch:$('#branch_id').val(),
    //   transfer_to:$('#transfer_to').val(),
    //   type: '',
    // };
    console.log(formData);
    $.ajax({
      type: "POST",
      url: "/api/branch/create",
      data: formData,
      dataType: "json",
      encode: true,
    }).done(function (data) {
      console.log('submitted')
      console.log(data.response_code);
      if (data.response_code == 200){
        alert('Created Successful')
        setTimeout(function(){// wait for 5 secs(2)
           location.reload(); // then reload the page.(3)
      }, 300); 
      }
      if (data.response_code == 10000){
        alert(data.response_message)
        setTimeout(function(){// wait for 5 secs(2)
           location.reload(); // then reload the page.(3)
      }, 300); 
      }
    });

    event.preventDefault();
  });

</script>
{% endblock %}