<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">

    <!-- App favicon -->
    <link rel="stylesheet" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <!-- App title -->
    <title>SalesForce - PropPioneers</title>

    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/morris/morris.css') }}">

    <!-- App css -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/core.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/components.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/icons.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/pages.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/menu.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/responsive.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='js/modernizr.min.js') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/jquery.ccpicker.css') }}" rel="stylesheet" type="text/css" />
    <!-- jQuery  -->

    </script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.ccpicker.js') }}"></script>


    <script src="{{ url_for('static', filename='plugins/moment/moment.js') }}"></script>
    <link href="{{ url_for('static', filename='plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css') }}"
        rel=”stylesheet”>
    <script
        src="{{ url_for('static', filename='plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js') }}"> </script>

    <script>
        const TokenObj = JSON.parse(sessionStorage.getItem('TokenObj'))
    </script>
    {{ moment.include_moment() }}
    <script>
        response_code = parseInt("{{response_code}}")

        {% if response_code == 401 %}
        document.location = "/"
        {% endif %}
        {% if response_code == 5001 %}
        document.location = "/"
        {% endif %}
    </script>
    {% block scripthead %}
    {% endblock %}
</head>


<body class="fixed-left">

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        <div class="topbar">

            <!-- LOGO -->
            <div class="topbar-left">
                <!-- <a href="index.html" class="logo"><span>Zir<span>cos</span></span><i class="mdi mdi-layers"></i></a> -->
                <!-- Image logo -->
                <a href="index.html" class="logo">
                    <span>
                        <img src="{{url_for('static', filename='images/logopp.png')}}" alt="" height="80">
                    </span>
                    <i>
                        <img src="{{url_for('static', filename='images/logopp.png')}}" alt="" height="28">
                    </i>
                </a>
            </div>

            <!-- Button mobile view to collapse sidebar menu -->
            <div class="navbar navbar-default" role="navigation">
                <div class="container">

                    <!-- Navbar-left -->
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <button class="button-menu-mobile open-left waves-effect">
                                <i class="mdi mdi-menu"></i>
                            </button>
                    </ul>

                    <!-- Right(Notification) -->
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" class="right-menu-item dropdown-toggle" data-toggle="dropdown">
                                <i class=" mdi mdi-bell-outline"></i>
                                <span class="badge up bg-success"></span>
                            </a>

                        </li>

                        <li>
                            <a href="#" class="right-menu-item dropdown-toggle" data-toggle="dropdown">
                                <i class="mdi mdi-gmail"></i>
                                <span class="badge up bg-danger"></span>
                            </a>
                        </li>

                        <li class="dropdown user-box">
                            <a href="" class="dropdown-toggle waves-effect user-link" data-toggle="dropdown"
                                aria-expanded="true">
                                <img src="{{url_for('static', filename='images/users/avatar-1.jpg')}}" alt="user-img"
                                    class="img-circle user-img">
                            </a>

                            <ul
                                class="dropdown-menu dropdown-menu-right arrow-dropdown-menu arrow-menu-right user-list notify-list">
                                <li id="user-name-h">

                                </li>
                                <li><a href="/logout"><i class="ti-power-off m-r-5"></i> Logout</a></li>
                            </ul>
                        </li>

                    </ul> <!-- end navbar-right -->

                </div><!-- end container -->
            </div><!-- end navbar -->
        </div>
        <!-- Top Bar End -->


        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">
            <div class="sidebar-inner slimscrollleft">

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <ul id="sidebar-menu-item">
                        <li class="text-center menu-title">PropPioneers.com</li>
                        <li class="text-center menu-arrow">خواب سے تعبیر تک</li>
                        <li>
                            <a href="/home" class="waves-effect"><i class=" mdi mdi-blur"></i><span> Dashboard
                                </span></a>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="glyphicon glyphicon-send"></i>
                                <span> Leads </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled" id="leads-menu">
                                <li><a href="/api/leads/read"><i class="mdi mdi-bullseye"></i>View Leads</a></li>
                                <li><a href="/addlead"><i class="mdi mdi-bookmark-plus-outline"></i> Add Leads</a></li>
                                <li><a href="/api/leads/search"> <i class="mdi mdi-account-search"></i> Find Leads</a></li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="/api/leads/followups?day=overdue" class="waves-effect"><i
                                    class="glyphicon glyphicon-list-alt"></i>To Do List</a>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="ti-user"></i> <span> Clients
                                </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="mdi mdi-account-card-details"></i> View Cliets</a></li>
                                <li><a href="#"><i class="mdi mdi-account-multiple-plus"></i> Add Client</a></li>
                            </ul>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-city"></i> <span>
                                    Projects </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="mdi mdi-bible"></i> Add Project</a></li>
                                <li><a href="#"><i class="mdi mdi-account-settings"></i> Staff</a></li>
                            </ul>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-opencart"></i> <span>
                                    Inventory </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="mdi mdi-cart-plus"></i> Add Inventory</a></li>
                                <li><a href="#"><i class=" ti-shopping-cart-full"></i> View Inventory</a></li>
                            </ul>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class=" mdi mdi-chart-bar"></i>
                                <span> Reports </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled">
                                <a href="/api/reports/kpisales"><i class="mdi mdi-chart-line"></i>KPI Sales</a>
                                <!-- <li><a href="#"><i class=" ti-money"></i> Activity Sales</a></li> -->
                            </ul>
                        </li>

                    </ul>
                </div>
                <!-- Sidebar -->
                <div class="clearfix"></div>
                <!-- 
                <div class="help-box">
                    <h5 class="text-muted m-t-0">For Help ?</h5>
                    <p class=""><span class="text-custom">Email:</span> <br /> shaheer@proppioneers.com</p>
                    <p class="m-b-0"><span class="text-custom">Call:</span> <br /> (+92) 300 851 0738</p>
                </div> -->

            </div>
            <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->


        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        {% block content %}
        {% endblock %}

        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->
        <footer class="footer text-right">
            {{moment().format('YYYY')}} © PropPioneers
        </footer>

    </div>
    <!-- END wrapper -->



    <script>
        var resizefunc = [];
    </script>
    {% block scriptfooter %}
    {% endblock %}

    <script>
        console.log(TokenObj)


        if (TokenObj.user.role.user_role_id == 1) {
            $("#sidebar-menu-item").append(`<li class="has_sub">
                                        <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-user"></i> <span> Users </span> <span class="menu-arrow"></span></a>
                                        <ul class="list-unstyled">
                                            <li><a href=/read>View Users</a></li>
                                            <li><a href=/create>Add User</a></li>
                                            <li><a href=#>Edit User</a></li>
                                        </ul>
                                    </li>`)
                                }
        if (TokenObj.user.role.user_role_id == 1) {
                                    $('#leads-menu').append('<li><a href=/api/leads/bulktransfer>Bulk transfer</a></li>')
            $('#leads-menu').append('<li><a href=/api/leads/bulkadd>Bulk Upload</a></li>')
        }
        $("#user-name-h").append('<h5>' + TokenObj.user.name + '</h5>')
    </script>

    <!-- jQuery  -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/detect.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fastclick.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.blockUI.js') }}"></script>
    <script src="{{ url_for('static', filename='js/waves.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.slimscroll.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.scrollTo.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/switchery/switchery.min.js') }}"></script>

    <!-- Counter js  -->
    <script src="{{ url_for('static', filename='plugins/waypoints/jquery.waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/counterup/jquery.counterup.min.js') }}"></script>

    <!-- Tooltipster js -->
    <script src="{{ url_for('static', filename='plugins/tooltipster/tooltipster.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='pages/jquery.tooltipster.js') }}"></script>

    <!--Morris Chart-->
    <script src="{{ url_for('static', filename='plugins/morris/morris.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/raphael/raphael-min.js') }}"></script>

    <!-- Dashboard init -->
    <script src="{{ url_for('static', filename='pages/jquery.dashboard.js') }}"></script>

    <!-- App js -->
    <script src="{{ url_for('static', filename='js/jquery.app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.core.js') }}"></script>

</body>

</html>