{% extends 'index.html' %}
{% block scripthead %}

<script>
    response_code = parseInt("{{response_code}}")
    response_message = "{{response_message}}"
    {% if response_code == 200 %}
    console.log({{response_data|tojson}})
    // document.location = "/home"
    {% endif %}
    {% if response_code == 4003 %}
    alert(`Validation Failed - Please recheck submitted data\n` + `{{ response_data| tojson}}`)
    console.log({{ response_data| tojson}})
    {% elif response_code != 200 %}
    // alert(`Error \n` + `{{ response_message}}`)
    {% endif %}

</script>
{% endblock %}
{% block content %}





<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">


            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Bulk Transfer</h4>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <form method="POST" action="" enctype="multipart/form-data">
            <div class="col-xs-6">
                <div class="form-group">
                  <label class="col-sm-2 control-label">Assigned To</label>
                  <div class="col-sm-10">
                      <select class="form-control" name="assigned_to" title="assigned_to">
                          {% for user in all_users %}
                          <option value="{{user[0]}}">{{user[1]}}</option>
                          {% endfor %}
                      </select>
                  </div>
              </div>
            </div>
            <!-- end row -->
            <div class="row" id="filter">
                <div class="col-xs-12">
                        <p><input type="file" name="file"></p>
                        <p><input type="submit" value="Submit"></p>
                    </div>
                </div>
            </form>

        </div> <!-- container -->

    </div> <!-- content -->



</div>

{% endblock %}