{% extends 'index.html' %}


{% block scripthead %}
<link href="{{ url_for('static', filename='plugins/bootstrap-daterangepicker/daterangepicker.css') }}" rel="stylesheet"
    type="text/css" />


<script>
    response_code = parseInt("{{response_code}}")
    response_message = "{{response_message}}"
    {% if response_code == 200 %}
    console.log({{ response_data| tojson}})
    // document.location = "/home"
    // alert(`Followup Added \n` + `{{ response_data| tojson}}`)
    {% endif %}
    {% if response_code == 4003 %}
    alert(`Validation Failed \n` + `{{ response_data| tojson}}`)
    console.log({{ response_data| tojson}})
    {% elif response_code != 200 %}
    // alert(`Error \n` + `{{ response_message}}`)
    {% endif %}

</script>
{% endblock %}

{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="page-title-box">
                  <h4 class="page-title">View All Leads </h4>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
      
            <div class="row" id="filter">
              <form action="/api/leads/read" method="GET" id="leads_date">
                <div class="col-xs-3">
                  <div class="form-group">
                    <label class="col-sm-5 control-label">Select Date</label>
                    <div id="reportrange" class="pull-right form-control">
                      <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                      <span></span>
                      <input id="start" type="hidden" name="date_start" value="">
                      <input id="end" type="hidden" name="date_end" value="">
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="col-xs-3">
                  <div class="form-group">
                    <label class="col-sm-1 control-label">Project</label>
                    <select class="form-control" name="project" title="project">
                        {% if response_data['filter_data']['project'] %}
                          <option value="{{response_data['filter_data']['project']}}" selected>{{response_data['filter_data']['project']}}</option>
                        {% else %}
                          <option value=""></option>
                        {% endif %}
                      {% for obj in response_data['filter_fields']['project'] %}
                      <option value="{{obj}}">{{obj}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col-xs-3">
                  <div class="form-group">
                    <label class="col-sm-1 control-label">Level</label>
                    <select class="form-control" name="lead_level" title="lead_level">
                      {% if response_data['filter_data']['lead_level'] %}
                      <option value="{{response_data['filter_data']['lead_level']}}" selected>{{response_data['filter_data']['lead_level']}}</option>
                      {% endif %}
                      <option value="">All</option>
                      <option value="New">New</option>
                      {% for obj in response_data['filter_fields']['level'] %}
                      <option value="{{obj}}">{{obj}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col-xs-3">
                  <div class="form-group">
                    <label class="col-sm-6 control-label">Last Worked on</label>
                    <input type="text" class="form-control datetime-picker" title="Last Worked on" name="last_work"/>
                  </div>
                </div>
                <div class="col-xs-5">
                  <div class="form-group">
                    <label class="col-sm-5 control-label">Assigned To</label>
                    <select class="form-control" name="assigned_to" title="assigned_to">
                      {% if response_data['filter_data']['assigned_to'] %}
                      <option value="{{response_data['filter_data']['assigned_to']}}" selected>{{response_data['filter_data']['assigned_to_name']}}</option>
                      <option value="">All</option>
                      {% else %}  
                      <option value="" selected>All</option>
                      {% endif %}
                      {% for user in response_data['all_users'] %}
                      <option value="{{user[0]}}">{{user[1]}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col-xs-3">
                  <div class="form-group">
                    <label class="col-sm-1 control-label">Task</label>
                    <select class="form-control" name="Task" title="Task">
                      {% if response_data['filter_data']['Task'] %}
                      <option value="{{response_data['filter_data']['Task']}}" selected>{{response_data['filter_data']['Task']}}</option>
                      {% endif %}
                      <option value="">All</option>
                      {% for obj in response_data['filter_fields']['Task'] %}
                      <option value="{{obj}}">{{obj}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="text-left">
                  <button class="applyBtn btn btn-sm btn-success btn-filter" type="submit">Submit</button>
                </div>
              </form>
            </div>
          </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="portlet">
                        <div id="" class="panel-collapse collapse in">
                            <div class="portlet-body">
                                <div class="table-responsive">
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#overdue" data-toggle="tab" aria-expanded="true">
                                                <span class="visible-xs"><i class="fa fa-home"></i></span>
                                                <span class="hidden-xs">Over Due</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="#today" data-toggle="tab" aria-expanded="false">
                                                <span class="visible-xs"><i class="fa fa-user"></i></span>
                                                <span class="hidden-xs">Today</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="#tomorrow" data-toggle="tab" aria-expanded="false">
                                                <span class="visible-xs"><i class="fa fa-user"></i></span>
                                                <span class="hidden-xs">Tomorrow</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="#all" data-toggle="tab" aria-expanded="false">
                                                <span class="visible-xs"><i class="fa fa-cog"></i></span>
                                                <span class="hidden-xs">All</span>
                                            </a>
                                        </li>
                                    </ul>

                                    <div class="tab-content">
                                        <div class="tab-pane active" id="overdue">
                                            <div class="card-box table-responsive">

                                                <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>#</th>
                                                            <th>Task</th>
                                                            <th>Deadline</th>
                                                            <th>Client</th>
                                                            <th>Project</th>
                                                            <th>Assigned To</th>
                                                            <th>Phone</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody id="lead-detail">
                                                        {% for obj in response_data['overdue'] %}
                                                        <tr>
                                                            <td>{{obj._id}}</td>
                                                            <td>{{obj.lead.lead_id}}</td>
                                                            <td>{{obj.next_task}}</td>
                                                            <td>{{obj.deadline}}</td>
                                                            <td>{{obj.lead.first_name}}</td>
                                                            <td>{{obj.project}}</td>
                                                            <td>{{obj.user.name}}</td>
                                                            <td>
                                                                {% for number in obj.lead.phone_number%}
                                                                <a href="tel:{{number}}">{{number}}</a>
                                                                {% endfor %}
                                                            </td>
                                                            <td>
                                                                <a
                                                                    href="javascript:viewFollowup(`{{obj._id}}`,`{{obj.lead.first_name}}`,`{{obj.lead.lead_id}}`);"><i
                                                                        class="mdi mdi-comment-outline"></i></a>
                                                                <a href="javascript:addFollowup('{{obj._id}}');"><i
                                                                        class="glyphicon glyphicon-plus"></i></a>
                                                                <p>TLW: {{obj.follow_count}}</p>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="today">
                                            <div class="card-box table-responsive">

                                                <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>#</th>
                                                            <th>Task</th>
                                                            <th>Deadline</th>
                                                            <th>Client</th>
                                                            <th>Project</th>
                                                            <th>Assigned To</th>
                                                            <th>Phone</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </thead>


                                                    <tbody id="lead-detail">
                                                        {% for obj in response_data['today'] %}
                                                        <tr>
                                                            <td>{{obj._id}}</td>
                                                            <td>{{obj.lead.lead_id}}</td>
                                                            <td>{{obj.next_task}}</td>
                                                            <td>{{obj.deadline}}</td>
                                                            <td>{{obj.lead.first_name}}</td>
                                                            <td>{{obj.project}}</td>
                                                            <td>{{obj.user.name}}</td>
                                                            <td>
                                                                {% for number in obj.lead.phone_number%}
                                                                <a href="tel:{{number}}">{{number}}</a>
                                                                {% endfor %}
                                                            </td>
                                                            <td>
                                                                <a href="javascript:viewFollowup(`{{obj._id}}`,`{{obj.lead.first_name}}`,`{{obj.lead.lead_id}}`);"><i
                                                                        class="mdi mdi-comment-outline"></i></a>
                                                                <a href="javascript:addFollowup('{{obj._id}}');"><i
                                                                        class="glyphicon glyphicon-plus"></i></a>
                                                                <p>TLW: {{obj.follow_count}}</p>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tomorrow">
                                            <div class="card-box table-responsive">

                                                <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>#</th>
                                                            <th>Task</th>
                                                            <th>Deadline</th>
                                                            <th>Client</th>
                                                            <th>Project</th>
                                                            <th>Assigned To</th>
                                                            <th>Phone</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </thead>


                                                    <tbody id="lead-detail">
                                                        {% for obj in response_data['tomorrow'] %}
                                                        <tr>
                                                            <td>{{obj._id}}</td>
                                                            <td>{{obj.lead.lead_id}}</td>
                                                            <td>{{obj.next_task}}</td>
                                                            <td>{{obj.deadline}}</td>
                                                            <td>{{obj.lead.first_name}}</td>
                                                            <td>{{obj.project}}</td>
                                                            <td>{{obj.user.name}}</td>
                                                            <td>
                                                                {% for number in obj.lead.phone_number%}
                                                                <a href="tel:{{number}}">{{number}}</a>
                                                                {% endfor %}
                                                            </td>
                                                            <td>
                                                                <a href="javascript:viewFollowup(`{{obj._id}}`,`{{obj.lead.first_name}}`,`{{obj.lead.lead_id}}`);"><i
                                                                        class="mdi mdi-comment-outline"></i></a>
                                                                <a href="javascript:addFollowup('{{obj._id}}');"><i
                                                                        class="glyphicon glyphicon-plus"></i></a>
                                                                <p>TLW: {{obj.follow_count}}</p>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="all">
                                            <div class="card-box table-responsive">

                                                <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>#</th>
                                                            <th>Task</th>
                                                            <th>Deadline</th>
                                                            <th>Client</th>
                                                            <th>Project</th>
                                                            <th>Assigned To</th>
                                                            <th>Phone</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </thead>


                                                    <tbody id="lead-detail">
                                                        {% for obj in response_data['all'] %}
                                                        <tr>
                                                            <td>{{obj._id}}</td>
                                                            <td>{{obj.lead.lead_id}}</td>
                                                            <td>{{obj.next_task}}</td>
                                                            <td>{{obj.deadline}}</td>
                                                            <td>{{obj.lead.first_name}}</td>
                                                            <td>{{obj.project}}</td>
                                                            <td>{{obj.user.name}}</td>
                                                            <td>
                                                                {% for number in obj.lead.phone_number%}
                                                                <a href="tel:{{number}}">{{number}}</a>
                                                                {% endfor %}
                                                            </td>
                                                            <td>
                                                                <a href="javascript:viewFollowup(`{{obj._id}}`,`{{obj.lead.first_name}}`,`{{obj.lead.lead_id}}`);"><i
                                                                        class="mdi mdi-comment-outline"></i></a>
                                                                <a href="javascript:addFollowup('{{obj._id}}');"><i
                                                                        class="glyphicon glyphicon-plus"></i></a>
                                                                <p>TLW: {{obj.follow_count}}</p>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if response_data.userlevel < 4 %} <div class="row">
                    <button id="transfershow" class="applyBtn btn btn-sm">Assign</button>
                    <div id="transfer-sec" class="row" style=" display:none">
                        <div class="col-sm-6">
                            <div class="card-box">
                                <div class="row">
                                    <form class="form-horizontal" action="" method="POST" id="transfer_form">

                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Assign To *</label>
                                                <div class="col-sm-10">
                                                    <select id="transfer_to" class="form-control" required
                                                        name="transfer_to" title="transfer_to">
                                                        {% for user in response_data['all_users'] %}
                                                        <option value="{{user[0]}}">{{user[1]}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <h4 class="page-title">Current Task</h4>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Type</label>
                                                <div class="col-sm-10">
                                                    <select id="type" class="form-control" name="type"
                                                        title="type">
                                                        <option value=""></option>
                                                        <option value="Call">Call</option>
                                                        <option value="Meeting">Meeting</option>
                                                        <option value="Email">Email</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Sub Type</label>
                                                <div class="col-sm-10">
                                                    <select id="sub_type" class="form-control" name="sub_type"
                                                        title="sub_type">
                                                        <option value=""></option>
                                                        <option value="SMS">SMS</option>
                                                        <option value="Call_attempt">Call Attempt</option>
                                                        <option value="Followed_up">Followed Up</option>
                                                        <option value="Whatsapp_call">Whatsapp call</option>
                                                        <option value="Whatsapp_message">Whatsapp Message</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <input id="lead_status" type="hidden" name="lead_status" value="Interested">
                                            <input id="completion_date" type="hidden" name="completion_date" value="">
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Comment</label>
                                                <div class="col-sm-10">
                                                    <textarea id="comment" class="form-control" title="comment"
                                                        name="comment"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <h4 class="page-title">Next Follow up</h4>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Next Task</label>
                                                    <div class="col-sm-10">
                                                        <select id="next_task" class="form-control"
                                                            name="next_task" title="Next Task">
                                                            <option value=""></option>
                                                            <option value="DoNothing">Do Nothing</option>
                                                            <option value="ContactClient">Contact Client</option>
                                                            <option value="FollowUp">Follow Up</option>
                                                            <option value="ReceiveTokenPayment">Receive Token Payment
                                                            </option>
                                                            <option value="MeetClient">Meet Client</option>
                                                            <option value="ArrangeMeeting">Arrange Meeting</option>
                                                            <option value="ReceivePartialDownPayment">Receive Partial DownPayment</option>
                                                            <option value="ReceiveCompleteDownPayment">Receive Complete DownPayment</option>
                                                            <option value="SignSaleAgreement">Sign Sale Agreement
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Deadline</label>
                                                    <div class="col-sm-10">
                                                        <input id="next_deadline" type="text"
                                                            class="form-control datetime-picker" title="next"
                                                            name="next_deadline" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Level</label>
                                                    <div class="col-sm-10">
                                                        <select id="lead_level" class="form-control" name="lead_level" title="lead_level">
                                                            <option value=""></option>
                                                            <option value="AtomBomb">Atom-Bomb</option>
                                                            <option value="Hot">Hot</option>
                                                            <option value="Moderate">Moderate</option>
                                                            <option value="Cold">Cold</option>
                                                            <option value="SubZero">Sub-Zero</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <button id="transferbtn" class="applyBtn btn btn-sm btn-success"
                                                type="submit">Save</button>
                                        </div>
                                    </form>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endif %}
            </div> <!-- end col -->
        </div>
    </div> <!-- container -->
</div> <!-- content -->
</div>

<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="addFollowupModal" tabindex="-1" role="dialog" aria-labelledby="addFollowupModalTitleID"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addFollowupModalTitleID">New Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form class="form-horizontal" id="addFollowupForm">
                            <div class="card-box">
                                <div class="row">
                                    <h4 class="page-title">Current Task</h4>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Type *</label>
                                            <div class="col-sm-10">
                                                <select class="form-control" required name="type" title="type">
                                                    <option value=""></option>
                                                    <option value="Meeting">Meeting</option>
                                                    <option value="Call">Call</option>
                                                    <option value="Email">Email</option>
                                                    <option value="Sale">Sale</option>
                                                    <option value="Acquisition">Acquisition</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Sub Type *</label>
                                            <div class="col-sm-10">
                                                <select class="form-control" required name="sub_type" title="sub_type">
                                                    <option value=""></option>
                                                    <option value="SMS">SMS</option>
                                                    <option value="Contacted_client">Contacted Client</option>
                                                    <option value="Call_attempt">Call Attempt</option>
                                                    <option value="Followed_up">Followed Up</option>
                                                    <option value="Whatsapp_call">Whatsapp call</option>
                                                    <option value="Whatsapp_message">Whatsapp Message</option>
                                                    <option value="Meeting_Done">Meeting Done</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Level*</label>
                                            <div class="col-sm-10">
                                                <select class="form-control" required name="lead_level"
                                                    title="lead_level">
                                                    <option value=""></option>
                                                    <option value="AtomBomb">Very Hot</option>
                                                    <option value="Hot">Hot</option>
                                                    <option value="Moderate">Moderate</option>
                                                    <option value="Cold">Cold</option>
                                                    <option value="SubZero">Very Cold</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Comment*</label>
                                            <div class="col-sm-10">
                                                <textarea class="form-control" required title="comment"
                                                    name="comment"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <h4 class="page-title">Next Follow up</h4>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Next Task *</label>
                                                <div class="col-sm-10">
                                                    <select class="form-control" required name="next_task"
                                                        title="Next Task">
                                                        <option value=""></option>
                                                        <option value="DoNothing">Do Nothing</option>
                                                        <option value="ContactClient">Contact Client</option>
                                                        <option value="FollowUp">Follow Up</option>
                                                        <option value="ReceiveTokenPayment">Receive Token Payment
                                                        </option>
                                                        <option value="MeetClient">Meet Client</option>
                                                        <option value="ArrangeMeeting">Arrange Meeting</option>
                                                        <option value="ReceivePartialDownPayment">Receive Partial Down
                                                            Payment</option>
                                                        <option value="ReceiveCompleteDownPayment">Receive Complete Down
                                                            Payment</option>
                                                        <option value="Closed(Won)">Closed (Won)</option>
                                                        <option value="SignSaleAgreement">Sign Sale Agreement</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Deadline</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control datetime-picker" required
                                                        title="next" name="next_deadline" autocomplete="off"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalTitleID"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="commentModalTitleID">Comments</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table id="" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Completion date</th>
                                    <th>Next Deadline</th>
                                    <th>Next Task</th>
                                    <th>Current task</th>
                                    <th>Task Type</th>
                                    <th>Level</th>
                                    <th>Project</th>
                                    <th>Comments</th>
                                </tr>
                            </thead>
                            <tbody id="comment-detail">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->

{% endblock %}

{% block scriptfooter %}

<script src="{{ url_for('static', filename='plugins/datatables/datatables.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap-daterangepicker/daterangepicker.js') }}"></script>

<!-- init -->
<script src="{{ url_for('static', filename='pages/jquery.form-pickers.init.js') }}"></script>

<script>
    var tables = [];
    $("table").each(function () {
        tables.push($(this).DataTable({
            "dom": '<"clear">rlftip',
            "bFilter": true,
            "aaSorting": [],
            "pageLength": 100,
            // "stateSave": true,
            "processing": true,
            "select": { "style": 'multi+shift' },
            "columnDefs": [
                {
                    "target": 0,
                    "visible": false,
                    "searchable": false,
                }
            ],
            "buttons": [
                "selectAll",
                "selectNone"
            ],
        }));
    })
    // TableManageButtons.init();
    $(".datetime-picker").datetimepicker({
        format: 'YYYY-MM-DD hh:mm:ss'
    });

    var d = new Date();
    var month = d.getMonth() + 1;
    var day = d.getDate();
    var hour = d.getHours();
    var minute = d.getMinutes();
    var second = d.getSeconds();

    var output = d.getFullYear() + '-' +
        (('' + month).length < 2 ? '0' : '') + month + '-' +
        (('' + day).length < 2 ? '0' : '') + day + ' ' +
        (('' + hour).length < 2 ? '0' : '') + hour + ':' +
        (('' + minute).length < 2 ? '0' : '') + minute + ':' +
        (('' + second).length < 2 ? '0' : '') + second;

    $("#today").append(output);
    $("#radio").attr('value', output);
    var day = d.getDate() - 1;

    $('#transfershow').click(function () {

        var x = document.getElementById("transfer-sec");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    });

    const searchFormDOM = $('#searchForm')
    searchFormDOM.submit(function (event) {
        event.preventDefault();
        let formData = {}
        searchFormDOM.serializeArray().forEach(({ name, value }) => formData[name] = value)
        // console.log(formData, "formData")
        $.ajax('/api/follow_ups/read', {
            method: 'POST',
            data: formData,
            dataType: "json",
            encode: true,
            success: function (data) {
                if (data.response_code == 200) {
                    console.log(data);
                    table.clear()
                    table.draw()
                    for (var i in data.response_data.data) {
                        var numbers = [];
                        for (var j in data.response_data.data[i].phone_number) {
                            numbers.push(`<a href="tel:${data.response_data.data[i].phone_number[j]}">${data.response_data.data[i].phone_number[j]}</a>`)
                        }
                        table.row.add([
                            `${data.response_data.data[i].id}`,
                            `${data.response_data.data[i].lead_id} <p>${data.response_data.data[i].created_on}</p>`,
                            `${data.response_data.data[i].first_name}`,
                            `${data.response_data.data[i].assigned_to}`,
                            `<p>${data.response_data.data[i].followup_last_work}</p><p>${data.response_data.data[i].followup_last_work_date}</p>`,
                            `${data.response_data.data[i].project}`,
                            `<span class="${data.response_data.data[i].lead_level}">${data.response_data.data[i].lead_level}
                    <p style="color: #ff0000">${data.response_data.data[i].new || ""}</p>
                  </span>`,
                            `${numbers.toString()}`,
                            `<a href="javascript:viewFollowup('${data.response_data.data[i].id}','${data.response_data.data[i].first_name}','${data.response_data.data[i].lead_id}');"><i
                        class="mdi mdi-comment-outline"></i></a>
                    <a href="javascript:addFollowup('${data.response_data.data[i].id}');"><i class="glyphicon glyphicon-plus"></i></a>
                    TLW: ${data.response_data.data[i].followup_count}`,
                        ]).draw();
                    };
                    $("#paginate-number").text(`${data.response_data.pagination.page}`)
                    if (data.response_data.pagination.has_next) {
                        $("#paginate-next-btn").attr('href', `javascript:pagination(${data.response_data.pagination.next_num})`)
                        $("#paginate-next-btn").removeClass('paginate_button freeze-btn')
                    }
                    else {
                        $("#paginate-next-btn").addClass('paginate_button freeze-btn')
                    }

                    if (data.response_data.pagination.has_prev) {
                        $("#paginate-prev-btn").attr('href', `javascript:pagination(${data.response_data.pagination.prev_num})`)
                        $("#paginate-prev-btn").removeClass('paginate_button freeze-btn')
                    }
                    else {
                        $("#paginate-prev-btn").addClass('paginate_button freeze-btn')
                    }
                }
            }
        })
    })

    $("#transfer_form").submit(function (event) {
        $('#transferbtn').attr("disabled", true);
        var leads_id = [];
        for (var j = 0; j < 4; j++) {
        for (var i = 0; i < tables[j].rows('.selected').data().length; i++) {
            leads_id.push(tables[j].rows('.selected').data()[i][0])
        }};
        var tmp = JSON.stringify(leads_id);

    function submit_api() {
      $.ajax({
        type: "POST",
        url: "/api/leads/leadtransfer",
        data: formData,
        dataType: "json",
        encode: true,
      }).done(function (data) {
        console.log('submitted')
        console.log(data.response_code);
        if (data.response_code == 200) {
          alert('Transfer Successful')
          setTimeout(function () {// wait for 5 secs(2)
            location.reload(); // then reload the page.(3)
          }, 300);
        }
      });
    };
    if ($('#type').val() != '') {
      if ($("#sub_type").val() == ''){
        alert('Missing Field Sub Type');
        $('#transferbtn').attr("disabled", false);
      }
      if ($("#comment").val() == ''){
        alert('Missing Field Comment');
        $('#transferbtn').attr("disabled", false);
      }
      if ($("#next_task").val() == ''){
        alert('Missing Field Next Task');
        $('#transferbtn').attr("disabled", false);
      }
      if ($("#next_deadline").val() == ''){
        alert('Missing Field Deadline');
        $('#transferbtn').attr("disabled", false);
      }
      if ($("#lead_level").val() == ''){
        alert('Missing Field Level');
        $('#transferbtn').attr("disabled", false);
      }
      else {
        var formData = {
        lead: tmp,
        transfer_to: $('#transfer_to').val(),
        type: $("#type").val(),
        sub_type: $("#sub_type").val(),
        comment: $("#comment").val(),
        next_task: $("#next_task").val(),
        next_deadline: $("#next_deadline").val(),
        lead_level: $("#lead_level").val()
      };
        submit_api();
      }
    }
    else {
      var formData = {
        lead: tmp,
        transfer_to: $('#transfer_to').val(),
        type: '',
        sub_type: '',
        comment: '',
        next_task: '',
        next_deadline: '',
        lead_level: ''
      };
      submit_api();
    }
        event.preventDefault();
    });


    const addFollowupFormDOM = $("#addFollowupForm")
    addFollowupFormDOM.submit(function (event) {
        event.preventDefault();
        let formData = {}
        addFollowupFormDOM.serializeArray().forEach(({ name, value }) => name !== "phone_number" ? formData[name] = value : formData[name] = [...(formData[name] || []), value])
        console.log(formData, "formData")
        $.ajax("/api/follow_ups/create", {
            method: "POST",
            data: JSON.stringify(formData),
            contentType: "application/json",
            success: function (data) {
                if (data.response_code == 200) {
                    document.getElementById("addFollowupForm").reset();
                    alert('Task Added Successfully')
                    console.log(data, "data")
                    $("#addFollowupModal").modal('hide');
                }
                else {
                    alert(data.response_message);
                }
            },
            error: function (error) {
                console.log(error, "error")

            }
        })
    })

    function addFollowup(id) {
        document.getElementById("addFollowupForm").reset();
        $("#addFollowupForm").append(`<input type="hidden" name="lead" value="${id}" >`)
        $("#addFollowupModal").modal('show');
    };

    function viewFollowup(id, name, ref) {
        $.ajax(`/api/follow_ups/follow_read?lead=${id}&name=${name}&ref=${ref}`, {
            method: "GET",
            success: function (data) {
                if (data.response_code == 200) {
                    document.getElementById('commentModalTitleID').innerHTML = "Comments - " + data.response_data[1] + ' - ' + data.response_data[2];
                    $('#comment-detail').empty();
                    for (item in data.response_data[0]) {
                        $('#comment-detail').append(`
                <tr>
                      <td>${item}</td>
                      <td>${data.response_data[0][item].completion_date}</td>
                      <td>${data.response_data[0][item].next_deadline}</td>
                      <td>${data.response_data[0][item].next_task}</td>
                      <td>${data.response_data[0][item].type}</td>
                      <td>${data.response_data[0][item].sub_type}</td>
                      <td>${data.response_data[0][item].lead_level}</td>
                      <td>${data.response_data[0][item].next_project}</td>
                      <td>${data.response_data[0][item].created_by} - 
                        ${data.response_data[0][item].comment}</td>
                  </tr>
              `);
                    }
                    console.log(data);
                }
            }
        })
        $("#commentModal").modal('show');
    };

</script>

{% endblock %}