{% extends 'index.html' %}


{% block scripthead %}
<link href="{{ url_for('static', filename='plugins/bootstrap-daterangepicker/daterangepicker.css') }}" rel="stylesheet"
  type="text/css" />
<link href="{{ url_for('static', filename='plugins/datatables/select.dataTables.min.css') }}" rel="stylesheet"
  type="text/css" />
<link href="{{ url_for('static', filename='plugins/datatables/datatables.min.css') }}" rel="stylesheet"
  type="text/css" />
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" /> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script> -->

<script>
  response_code = parseInt("{{response_code}}")
  response_message = "{{response_message}}"
  console.log({{ response_data| tojson}})
  {% if response_code == 200 %}
  console.log({{ response_data| tojson}})
  // document.location = "/home"
  {% else %}
  console.log({{ response_data| tojson}})
  {% endif %}



</script>
{% endblock %}

{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
  <!-- Start content -->
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="page-title-box">
            <h4 class="page-title">View All Follow-Ups </h4>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>

      <div class="row" id="filter">
        <form action="/api/leads/followups" method="GET" id="leads_date">
          <div class="col-xs-3">
            <div class="form-group">
              <label class="col-sm-5 control-label">Select Date</label>
              <div id="reportrange" class="pull-right form-control">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                <span></span>
                <input id="start" type="hidden" name="date_start" value="">
                <input id="end" type="hidden" name="date_end" value="">
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="form-group">
              <label class="col-sm-1 control-label">Project</label>
              <select class="form-control" name="project" title="project">
                {% if response_data['filter_data']['project'] %}
                <option value="{{response_data['filter_data']['project']}}" selected>{{response_data['filter_data']['project']}}</option>
                <option value="">All</option>
              {% else %}
                <option value=""></option>
              {% endif %}
                {% for obj in response_data['filter_fields']['project'] %}
                <option value="{{obj}}">{{obj}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="form-group">
              <label class="col-sm-1 control-label">Level</label>
              <select class="form-control" name="lead_level" title="lead_level">
                {% if response_data['filter_data']['lead_level'] %}
                <option value="{{response_data['filter_data']['lead_level']}}" selected>{{response_data['filter_data']['lead_level']}}</option>
                {% endif %}
                <option value="">All</option>
                <option value="New">New</option>
                {% for obj in response_data['filter_fields']['level'] %}
                <option value="{{obj}}">{{obj}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="form-group">
              <label class="col-sm-6 control-label">Last Worked on</label>
              {% if response_data['filter_data']['assigned_to'] %}
              <input type="text" class="form-control datetime-picker" title="Last Worked on" name="last_work" value="{{response_data['filter_data']['assigned_to']}}"/>
              {% else %}
              <input type="text" class="form-control datetime-picker" title="Last Worked on" name="last_work" value=""/>
              {% endif %}
            </div>
          </div>
          <div class="col-xs-5">
            <div class="form-group">
              <label class="col-sm-5 control-label">Assigned To</label>
              <select class="form-control" name="assigned_to" title="assigned_to">
                {% if response_data['filter_data']['assigned_to'] %}
                <option value="{{response_data['filter_data']['assigned_to']}}" selected>{{response_data['filter_data']['assigned_to_name']}}</option>
                <option value="">All</option>
                {% else %}
                <option value="" selected>All</option>
                {% endif %}
                {% for user in response_data['all_users'] %}
                <option value="{{user[0]}}">{{user[1]}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="form-group">
              <label class="col-sm-1 control-label">Task</label>
              <select class="form-control" name="Task" title="Task">
                {% if response_data['filter_data']['Task'] %}
                <option value="{{response_data['filter_data']['Task']}}" selected>{{response_data['filter_data']['Task']}}</option>
                {% endif %}
                <option value="">All</option>
                {% for obj in response_data['filter_fields']['Task'] %}
                <option value="{{obj}}">{{obj}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="form-group">
              <label class="col-sm-6 control-label">Next Task</label>
              <select class="form-control" name="Next_task" title="Next_task">
                {% if response_data['filter_data']['Next_task'] %}
                <option value="{{response_data['filter_data']['Next_task']}}" selected>{{response_data['filter_data']['Next_task']}}</option>
                {% endif %}
                <option value="">All</option>
                {% for obj in response_data['filter_fields']['Next_task'] %}
                <option value="{{obj}}">{{obj}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
      </div>
    </div>
    <!-- end col -->

    <div class="container">
      <!---------find leads starts-->
        <div class="col-xs-12">
          <h6>Search Leads</h6>
        </div>
      
        <div class="col-xs-3">
          <div class="form-group">
            <label class="col-sm-3 control-label">Name</label>
            {% if response_data['filter_data']['client_name'] %}
            <input type="text" class="form-control" name="client_name" value="{{response_data['filter_data']['client_name']}}" placeholder="Name">
            {% else %}
            <input type="text" class="form-control" name="client_name" value="" placeholder="Name">
            {% endif %}
          </div>
        </div>
        <div class="col-xs-3">
          <div class="form-group">
            <label class="col-sm-6 control-label">Phone Number</label>
            {% if response_data['filter_data']['phone_number'] %}
            <input type="text" class="form-control" name="phone_number" value="{{response_data['filter_data']['phone_number']}}" placeholder="+921234567890">
            {% else %}
            <input type="text" class="form-control" name="phone_number" value="" placeholder="+921234567890">
            {% endif %}
          </div>
        </div>
        <div class="col-xs-3">
          <div class="form-group">
            <label class="col-sm-6 control-label">Lead ID</label>
            {% if response_data['filter_data']['lead_id'] %}
            <input type="text" class="form-control" name="lead_id" value="{{response_data['filter_data']['lead_id']}}" placeholder="1234">
            {% else %}
            <input type="text" class="form-control" name="lead_id" value="" placeholder="1234">
            {% endif %}
          </div>
        </div>
        <div class="text-left">
          <input class="btn btn-success btn-filter" type="submit" value="Submit">
        </div>
        <div class="text-left tabs">
          {% if response_data['filter_data']['day'] == 'overdue' %}
          <input class="btn btn-success btn-filter active" type="submit" name="day" value="overdue" placeholder="Overdue">
          {% else %}
          <input class="btn btn-success btn-filter" type="submit" name="day" value="overdue">
          {% endif %}
          {% if response_data['filter_data']['day'] == 'today' %}
          <input class="btn btn-success btn-filter active" type="submit" name="day" value="today">
          {% else %}
          <input class="btn btn-success btn-filter" type="submit" name="day" value="today">
          {% endif %}
          {% if response_data['filter_data']['day'] == 'tomorrow' %}
          <input class="btn btn-success btn-filter active" type="submit" name="day" value="tomorrow">
          {% else %}
          <input class="btn btn-success btn-filter" type="submit" name="day" value="tomorrow">
          {% endif %}
          {% if response_data['filter_data']['day'] == 'next' %}
          <input class="btn btn-success btn-filter active" type="submit" name="day" value="next">
          {% else %}
          <input class="btn btn-success btn-filter" type="submit" name="day" value="next">
          {% endif %}
        </div>
      </form>
    </div>
    <!---------find leads end-->

    <!-- end row -->

    <div class="row">
      <div class="col-sm-12">
        <div class="row">

          <div class="table-responsive">
            <div class="card-box table-responsive">
              <div id="info" class="info">Page {{response_data['pagination']['page']}} of {{response_data['pagination']['pages']}}</div>
              <div class="paginate paging_simple_numbers">
                {% if response_data['pagination']['has_prev'] %}
                <a id="paginate-prev-btn" href="javascript:pagination('{{response_data['filter_data']['day']}}','{{response_data['pagination']['prev_num']}}')"
                  class="previous">Previous</a>
                {% else %}
                <a id="paginate-prev-btn" href="javascript:pagination('{{response_data['filter_data']['day']}}','{{response_data['pagination']['prev_num']}}')"
                  class="paginate_button previous">Previous</a>
                {% endif %}
                <span id="paginate-number" class="paginate_button">{{(response_data['pagination']['per_page']*response_data['pagination']['page'])-(response_data['pagination']['per_page']-1)}} - {{response_data['pagination']['per_page']*response_data['pagination']['page']}} of {{response_data['pagination']['total']}}</span>
                {% if response_data['pagination']['has_next'] %}
                <a id="paginate-next-btn" href="javascript:pagination('{{response_data['filter_data']['day']}}','{{response_data['pagination']['next_num']}}')"
                  class="next">Next</a>
                {% else %}
                <a id="paginate-next-btn" href="javascript:pagination('{{response_data['filter_data']['day']}}','{{response_data['pagination']['next_num']}}')"
                  class="paginate_button next">Next</a>
                {% endif %}
              </div>
              <table id="datatable" class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th style="width: 85px;">UID</th>
                    <th style="width: 85px;">ID</th>
                    <th style="width: 85px;">Client</th>
                    <th style="width: 85px;">Assigned to</th>
                    <th style="width: 150px;">Last Work</th>
                    <th style="width: 85px;">Next Task</th>
                    <th style="width: 85px;">Deadline</th>
                    <th style="width: 85px;">Project</th>
                    <th style="width: 110px;">Phone</th>
                    <th style="width: 85px;">Actions</th>
                  </tr>
                </thead>
                <tbody id="lead-detail">
                  {% for obj in response_data['data'] %}
                  <tr>
                    <td>{{obj.id}}</td>
                    <td scope="row">
                      {{obj.lead_id}}
                      <p>{{obj.created_on}}</p>
                    </td>
                    <td>{{obj.first_name}}</td>
                    <td>{{obj.assigned_to}}</td>
                    <td>
                      <p><i class="typcn typcn-thermometer {{obj.lead_level}}" data-toggle="tooltip" data-placement="top" title="{{obj.lead_level}}" data-original-title="{{obj.lead_level}}"></i>
                        {{obj.followup_last_work}}</p>
                      <p>{{obj.followup_last_work_date}}</p>
                    </td>
                    <td>{{obj.followup_next_task}}</td>
                    <td>{{obj.next_deadline}}</td>
                    <td>{{obj.project}}</td>
                    </td>
                    <td>
                      {% for number in obj.phone_number%}
                      <br> <a href="tel:{{number}}">{{number}}</a>
                      {% endfor %}
                    </td>
                    <td>
                      <a href="javascript:viewFollowup(`{{obj.id}}`,`{{obj.first_name}}`,`{{obj.lead_id}}`);"><i
                          class="mdi mdi-comment-outline"></i></a>
                      <a href="javascript:addFollowup('{{obj.id}}');"><i class="glyphicon glyphicon-plus"></i></a>
                      TLW: {{obj.followup_count}}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <div id="info2" class="info">Page {{response_data['pagination']['page']}} of {{response_data['pagination']['pages']}}</div>
              <div class="paginate paging_simple_numbers">
                {% if response_data['pagination']['has_prev'] %}
                <a id="paginate-prev-btn2" href="javascript:pagination('{{response_data['filter_data']['day']}}','{{response_data['pagination']['prev_num']}}')"
                  class="previous">Previous</a>
                {% else %}
                <a id="paginate-prev-btn2" href="javascript:pagination('{{response_data['filter_data']['day']}}','{{response_data['pagination']['prev_num']}}')"
                  class="paginate_button previous">Previous</a>
                {% endif %}
                <span id="paginate-number2" class="paginate_button">{{(response_data['pagination']['per_page']*response_data['pagination']['page'])-(response_data['pagination']['per_page']-1)}} - {{response_data['pagination']['per_page']*response_data['pagination']['page']}} of {{response_data['pagination']['total']}}</span>
                {% if response_data['pagination']['has_next'] %}
                <a id="paginate-next-btn2" href="javascript:pagination('{{response_data['filter_data']['day']}}','{{response_data['pagination']['next_num']}}')"
                  class="next">Next</a>
                {% else %}
                <a id="paginate-next-btn2" href="javascript:pagination('{{response_data['filter_data']['day']}}','{{response_data['pagination']['next_num']}}')"
                  class="paginate_button next">Next</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% if response_data.userlevel < 4 %} <div class="row">
          <button id="transfershow" class="applyBtn btn btn-sm">Assign</button>
          <div id="transfer-sec" class="row" style=" display:none">
            <div class="col-sm-6">
              <div class="card-box">
                <div class="row">
                  <form class="form-horizontal" action="" method="POST" id="transfer_form">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label class="col-sm-2 control-label">Assign To *</label>
                        <div class="col-sm-10">
                          <select id="transfer_to" class="form-control" required name="transfer_to" title="transfer_to">
                            {% for user in response_data['all_users'] %}
                            <option value="{{user[0]}}">{{user[1]}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                    </div>

                    <h4 class="page-title">Current Task</h4>
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label class="col-sm-2 control-label">Type</label>
                        <div class="col-sm-10">
                          <select id="type" class="form-control" name="type" title="type">
                            <option value=""></option>
                            <option value="Call">Call</option>
                            <option value="Meeting">Meeting</option>
                            <option value="Email">Email</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label class="col-sm-2 control-label">Sub Type</label>
                        <div class="col-sm-10">
                          <select id="sub_type" class="form-control" name="sub_type" title="sub_type">
                            <option value=""></option>
                            <option value="SMS">SMS</option>
                            <option value="Call_attempt">Call Attempt</option>
                            <option value="Followed_up">Followed Up</option>
                            <option value="Whatsapp_call">Whatsapp call</option>
                            <option value="Whatsapp_message">Whatsapp Message</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <input id="lead_status" type="hidden" name="lead_status" value="Interested">
                      <input id="completion_date" type="hidden" name="completion_date" value="">
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label class="col-sm-2 control-label">Comment</label>
                        <div class="col-sm-10">
                          <textarea id="comment" class="form-control" title="comment"
                            name="comment"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <h4 class="page-title">Next Follow up</h4>
                      <div class="col-sm-12">
                        <div class="form-group">
                          <label class="col-sm-2 control-label">Next Task</label>
                          <div class="col-sm-10">
                            <select id="next_task" class="form-control" name="next_task" title="Next Task">
                              <option value=""></option>
                              <option value="DoNothing">Do Nothing</option>
                              <option value="ContactClient">Contact Client</option>
                              <option value="FollowUp">Follow Up</option>
                              <option value="ReceiveTokenPayment">Receive Token Payment</option>
                              <option value="MeetClient">Meet Client</option>
                              <option value="ArrangeMeeting">Arrange Meeting</option>
                              <option value="ReceivePartialDownPayment">Receive Partial DownPayment</option>
                              <option value="ReceiveCompleteDownPayment">Receive Complete DownPayment</option>
                              <option value="SignSaleAgreement">Sign Sale Agreement</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="form-group">
                          <label class="col-sm-2 control-label">Deadline</label>
                          <div class="col-sm-10">
                            <input id="next_deadline" type="text" class="form-control datetime-picker" title="next" name="next_deadline" />
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="form-group">
                          <label class="col-sm-2 control-label">Level</label>
                          <div class="col-sm-10">
                            <select id="lead_level" class="form-control" name="lead_level" title="lead_level">
                              <option value=""></option>
                              <option value="AtomBomb">Atom-Bomb</option>
                              <option value="Hot">Hot</option>
                              <option value="Moderate">Moderate</option>
                              <option value="Cold">Cold</option>
                              <option value="SubZero">Sub-Zero</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <button id="transferbtn" class="applyBtn btn btn-sm btn-success" type="submit">Save</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div> <!-- end col -->
</div>
</div> <!-- container -->


<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="addFollowupModal" tabindex="-1" role="dialog" aria-labelledby="addFollowupModalTitleID"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addFollowupModalTitleID">New Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <form class="form-horizontal" id="addFollowupForm">
              <div class="card-box">
                <div class="row">
                  <h4 class="page-title">Current Task</h4>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Type *</label>
                      <div class="col-sm-10">
                        <select class="form-control" required name="type" title="type">
                          <option value=""></option>
                          <option value="Meeting">Meeting</option>
                          <option value="Call">Call</option>
                          <option value="Email">Email</option>
                          <option value="Sale">Sale</option>
                          <option value="Acquisition">Acquisition</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Sub Type *</label>
                      <div class="col-sm-10">
                        <select class="form-control" required name="sub_type" title="sub_type">
                          <option value=""></option>
                          <option value="SMS">SMS</option>
                          <option value="Contacted_client">Contacted Client</option>
                          <option value="Call_attempt">Call Attempt</option>
                          <option value="Followed_up">Followed Up</option>
                          <option value="Whatsapp_call">Whatsapp call</option>
                          <option value="Whatsapp_message">Whatsapp Message</option>
                          <option value="Meeting_Done">Meeting Done</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Level*</label>
                      <div class="col-sm-10">
                        <select class="form-control" required name="lead_level" title="lead_level">
                          <option value=""></option>
                          <option value="AtomBomb">Very Hot</option>
                          <option value="Hot">Hot</option>
                          <option value="Moderate">Moderate</option>
                          <option value="Cold">Cold</option>
                          <option value="SubZero">Very Cold</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Comment*</label>
                      <div class="col-sm-10">
                        <textarea class="form-control" required title="comment" name="comment"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <h4 class="page-title">Next Follow up</h4>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-sm-2 control-label">Next Task *</label>
                        <div class="col-sm-10">
                          <select class="form-control" required name="next_task" title="Next Task">
                            <option value=""></option>
                            <option value="DoNothing">Do Nothing</option>
                            <option value="ContactClient">Contact Client</option>
                            <option value="FollowUp">Follow Up</option>
                            <option value="ReceiveTokenPayment">Receive Token Payment</option>
                            <option value="MeetClient">Meet Client</option>
                            <option value="ArrangeMeeting">Arrange Meeting</option>
                            <option value="ReceivePartialDownPayment">Receive Partial Down
                              Payment</option>
                            <option value="ReceiveCompleteDownPayment">Receive Complete Down
                              Payment</option>
                            <option value="Closed(Won)">Closed (Won)</option>
                            <option value="SignSaleAgreement">Sign Sale Agreement</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-sm-2 control-label">Deadline</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control datetime-picker" autocomplete="off" required title="next"
                            name="next_deadline" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalTitleID"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="commentModalTitleID">Comments</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <table id="" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Completion date</th>
                  <th>Next Deadline</th>
                  <th>Next Task</th>
                  <th>Current task</th>
                  <th>Task Type</th>
                  <th>Level</th>
                  <th>Project</th>
                  <th>Comments</th>
                </tr>
              </thead>
              <tbody id="comment-detail">

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->

{% endblock %}

{% block scriptfooter %}

<script src="{{ url_for('static', filename='plugins/datatables/datatables.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap-daterangepicker/daterangepicker.js') }}"></script>

<!-- init -->
<script src="{{ url_for('static', filename='pages/jquery.form-pickers.init.js') }}"></script>

<script>
  $(".datetime-picker").datetimepicker({
    format: 'YYYY-MM-DD hh:mm:ss'
  });

  if ("{{response_data['filter_data']['last_work']}}"){
    $(".datetime-picker").val("{{response_data['filter_data']['last_work']}}")
  }
  
  if ("{{response_data['filter_data']['date_start']}}"){
    $('#reportrange span').html("{{response_data['filter_data']['date_start']}}" + ' to ' + "{{response_data['filter_data']['date_end']}}");
    $('#start').val("{{response_data['filter_data']['date_start']}}")
    $('#end').val("{{response_data['filter_data']['date_end']}}")
  }
  
  var table = $('#datatable').DataTable({
    "dom": 'B<"clear">rt',
    "bFilter": true,
    "aaSorting": [],
    "pageLength": 100,
    // "stateSave": true,
    "processing": true,
    "select": { "style": 'multi+shift' },
    "columnDefs": [
      {
        "target": 0,
        "visible": false,
        "searchable": false,
      }
    ],
    "ordering": false,
    "buttons": [
      "selectAll",
      "selectNone"
    ],
  });

  $('#transfershow').click(function () {

    var x = document.getElementById("transfer-sec");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  });

  $("#transfer_form").submit(function (event) {
    $('#transferbtn').attr("disabled", true);
    var leads_id = [];
    for (var i = 0; i < table.rows('.selected').data().length; i++) {
      leads_id.push(table.rows('.selected').data()[i][0])
    }
    var tmp = JSON.stringify(leads_id);

    function submit_api() {
      $.ajax({
        type: "POST",
        url: "/api/leads/leadtransfer",
        data: formData,
        dataType: "json",
        encode: true,
      }).done(function (data) {
        console.log('submitted')
        console.log(data.response_code);
        if (data.response_code == 200) {
          alert('Transfer Successful')
          setTimeout(function () {// wait for 5 secs(2)
            location.reload(); // then reload the page.(3)
          }, 300);
        }
      });
    };

    if ($('#type').val() != '') {
      if ($("#sub_type").val() == ''){
        alert('Missing Field Sub Type');
        $('#transferbtn').attr("disabled", false);
      }
      if ($("#comment").val() == ''){
        alert('Missing Field Comment');
        $('#transferbtn').attr("disabled", false);
      }
      if ($("#next_task").val() == ''){
        alert('Missing Field Next Task');
        $('#transferbtn').attr("disabled", false);
      }
      if ($("#next_deadline").val() == ''){
        alert('Missing Field Deadline');
        $('#transferbtn').attr("disabled", false);
      }
      if ($("#lead_level").val() == ''){
        alert('Missing Field Level');
        $('#transferbtn').attr("disabled", false);
      }
      else {
        var formData = {
        lead: tmp,
        transfer_to: $('#transfer_to').val(),
        type: $("#type").val(),
        sub_type: $("#sub_type").val(),
        comment: $("#comment").val(),
        next_task: $("#next_task").val(),
        next_deadline: $("#next_deadline").val(),
        lead_level: $("#lead_level").val()
      };
        submit_api();
      }
    }
    else {
      var formData = {
        lead: tmp,
        transfer_to: $('#transfer_to').val(),
        type: '',
        sub_type: '',
        comment: '',
        next_task: '',
        next_deadline: '',
        lead_level: ''
      };
      submit_api();
    }

    // console.log(formData);

    event.preventDefault();
  });


  var d = new Date();
  var month = d.getMonth() + 1;
  var day = d.getDate();
  var hour = d.getHours();
  var minute = d.getMinutes();
  var second = d.getSeconds();

  var output = d.getFullYear() + '-' +
    (('' + month).length < 2 ? '0' : '') + month + '-' +
    (('' + day).length < 2 ? '0' : '') + day + ' ' +
    (('' + hour).length < 2 ? '0' : '') + hour + ':' +
    (('' + minute).length < 2 ? '0' : '') + minute + ':' +
    (('' + second).length < 2 ? '0' : '') + second;

  $("#today").append(output);
  $("#radio").attr('value', output);
  var day = d.getDate() - 1;

  const addFollowupFormDOM = $("#addFollowupForm")
  addFollowupFormDOM.submit(function (event) {
    event.preventDefault();
    let formData = {}
    addFollowupFormDOM.serializeArray().forEach(({ name, value }) => name !== "phone_number" ? formData[name] = value : formData[name] = [...(formData[name] || []), value])
    // console.log(formData, "formData")
    $.ajax("/api/follow_ups/create", {
      method: "POST",
      data: JSON.stringify(formData),
      contentType: "application/json",
      success: function (data) {
        if (data.response_code == 200) {
          document.getElementById("addFollowupForm").reset();
          alert('Task Added Successfully')
          console.log(data, "data")
          $("#addFollowupModal").modal('hide');
        }
        else {
          alert(data.response_message);
        }
      },
      error: function (error) {
        console.log(error, "error")

      }
    })
  })

  function addFollowup(id) {
    document.getElementById("addFollowupForm").reset();
    $("#addFollowupForm").append(`<input type="hidden" name="lead" value="${id}" >`)
    $("#addFollowupModal").modal('show');
  };

  function viewFollowup(id, name, ref) {
    $.ajax(`/api/follow_ups/follow_read?lead=${id}&name=${name}&ref=${ref}`, {
      method: "GET",
      success: function (data) {
        if (data.response_code == 200) {
          document.getElementById('commentModalTitleID').innerHTML = "Comments - " + data.response_data[1] + ' - ' + data.response_data[2];
          $('#comment-detail').empty();
          for (item in data.response_data[0]) {
            $('#comment-detail').append(`
                <tr>
                      <td>${item}</td>
                      <td>${data.response_data[0][item].completion_date}</td>
                      <td>${data.response_data[0][item].next_deadline}</td>
                      <td>${data.response_data[0][item].next_task}</td>
                      <td>${data.response_data[0][item].type}</td>
                      <td>${data.response_data[0][item].sub_type}</td>
                      <td>${data.response_data[0][item].lead_level}</td>
                      <td>${data.response_data[0][item].next_project}</td>
                      <td>${data.response_data[0][item].created_by} - 
                        ${data.response_data[0][item].comment}</td>
                  </tr>
              `);
          }
          console.log(data);
        }
      }
    })
    $("#commentModal").modal('show');
  };

  function pagination(day, ref) {
    var formData = {
      date_start: '{{response_data["filter_data"]["date_start"]}}',
      date_end: '{{response_data["filter_data"]["date_end"]}}',
      lead_level: '{{response_data["filter_data"]["lead_level"]}}',
      last_work: '{{response_data["filter_data"]["last_work"]}}',
      assigned_to: '{{response_data["filter_data"]["assigned_to"]}}',
      Task: '{{response_data["filter_data"]["Task"]}}',
      new: '{{response_data["filter_data"]["new"]}}',
      page: ref,
      day: day
    };
    $.ajax('/api/leads/followups', {
      method: 'POST',
      data: formData,
      dataType: "json",
      encode: true,
      success: function (data) {
        if (data.response_code == 200) {
          console.log(data);
          table.clear()
          table.draw()
          for (var i in data.response_data.data) {
            var numbers = [];
            for (var j in data.response_data.data[i].phone_number) {
              numbers.push(`<a href="tel:${data.response_data.data[i].phone_number[j]}">${data.response_data.data[i].phone_number[j]}</a><br>`)
            }
            table.row.add([
              `${data.response_data.data[i].id}`,
              `${data.response_data.data[i].lead_id} <p>${data.response_data.data[i].created_on}</p>`,
              `${data.response_data.data[i].first_name}`,
              `${data.response_data.data[i].assigned_to}`,
              `<p><i class="typcn typcn-thermometer ${data.response_data.data[i].lead_level}" data-toggle="tooltip" data-placement="top" title="${data.response_data.data[i].lead_level}" data-original-title="${data.response_data.data[i].lead_level}"></i>
                        ${data.response_data.data[i].followup_last_work}</p><p>${data.response_data.data[i].followup_last_work_date}</p>`,
              `${data.response_data.data[i].followup_next_task}`,
              `${data.response_data.data[i].next_deadline}`,
              `${data.response_data.data[i].project}`,
              `${numbers.toString()}`,
              `<a href="javascript:viewFollowup('${data.response_data.data[i].id}','${data.response_data.data[i].first_name}','${data.response_data.data[i].lead_id}');"><i
                            class="mdi mdi-comment-outline"></i></a>
                        <a href="javascript:addFollowup('${data.response_data.data[i].id}');"><i class="glyphicon glyphicon-plus"></i></a>
                        TLW: ${data.response_data.data[i].followup_count}`,
            ]).draw();
          };
          $("#info").text(`Page ${data.response_data.pagination.page} of ${data.response_data.pagination.pages}`)
          $("#paginate-number").text(`${data.response_data.pagination.per_page*data.response_data.pagination.page-(data.response_data.pagination.per_page-1)} - ${data.response_data.pagination.per_page*data.response_data.pagination.page} of ${data.response_data.pagination.total}`)
          if (data.response_data.pagination.has_next) {
            $("#paginate-next-btn").attr('href', `javascript:pagination('${data.response_data.filter_data.day}','${data.response_data.pagination.next_num}')`)
            $("#paginate-next-btn").removeClass('paginate_button freeze-btn')
          }
          else {
            $("#paginate-next-btn").addClass('paginate_button freeze-btn')
          }

          if (data.response_data.pagination.has_prev) {
            $("#paginate-prev-btn").attr('href', `javascript:pagination('${data.response_data.filter_data.day}','${data.response_data.pagination.prev_num}')`)
            $("#paginate-prev-btn").removeClass('paginate_button freeze-btn')
          }
          else {
            $("#paginate-prev-btn").addClass('paginate_button freeze-btn')
          }

          $("#info2").text(`Page ${data.response_data.pagination.page} of ${data.response_data.pagination.pages}`)
          $("#paginate-number2").text(`${data.response_data.pagination.per_page*data.response_data.pagination.page-(data.response_data.pagination.per_page-1)} - ${data.response_data.pagination.per_page*data.response_data.pagination.page} of ${data.response_data.pagination.total}`)
          if (data.response_data.pagination.has_next) {
            $("#paginate-next-btn2").attr('href', `javascript:pagination('${data.response_data.filter_data.day}','${data.response_data.pagination.next_num}')`)
            $("#paginate-next-btn2").removeClass('paginate_button freeze-btn')
          }
          else {
            $("#paginate-next-btn2").addClass('paginate_button freeze-btn')
          }

          if (data.response_data.pagination.has_prev) {
            $("#paginate-prev-btn2").attr('href', `javascript:pagination('${data.response_data.filter_data.day}','${data.response_data.pagination.prev_num}')`)
            $("#paginate-prev-btn2").removeClass('paginate_button freeze-btn')
          }
          else {
            $("#paginate-prev-btn2").addClass('paginate_button freeze-btn')
          }
        }
      }
    })
  };

</script>

{% endblock %}