{% extends 'index.html' %}


{% block scripthead %}
<link href="{{ url_for('static', filename='plugins/bootstrap-daterangepicker/daterangepicker.css') }}" rel="stylesheet"
  type="text/css" />
<link href="{{ url_for('static', filename='plugins/datatables/select.dataTables.min.css') }}" rel="stylesheet"
  type="text/css" />
<link href="{{ url_for('static', filename='plugins/datatables/datatables.min.css') }}" rel="stylesheet"
  type="text/css" />
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" /> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script> -->

<script>
  response_code = parseInt("{{response_code}}")
  response_message = "{{response_message}}"
  console.log({{ response_data| tojson}})
  {% if response_code == 200 %}
  console.log({{ response_data| tojson}})
  // document.location = "/home"
  {% else %}
  console.log({{ response_data| tojson}})
  {% endif %}



</script>
{% endblock %}

{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
  <!-- Start content -->
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="page-title-box">
            <h4 class="page-title">View Leads for {{response_data['filter_data']['assigned_to_name']}} from {{response_data['filter_data']['date_start']}} to {{response_data['filter_data']['date_end']}}</h4>
            <p><br>
            <h6 class="page-title">Task {{response_data['filter_data']['Task']}} - Sub Task {{response_data['filter_data']['sub_task']}}</h6>
          </p>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- end col -->

    <!-- end row -->

    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="table-responsive">
            <div class="card-box table-responsive">
              <div id="info" class="info">Page {{response_data['pagination']['page']}} of {{response_data['pagination']['pages']}}</div>
              <div class="paginate paging_simple_numbers">
                {% if response_data['pagination']['has_prev'] %}
                <a id="paginate-prev-btn" href="javascript:pagination('{{response_data['pagination']['prev_num']}}')"
                  class="previous">Previous</a>
                {% else %}
                <a id="paginate-prev-btn" href="javascript:pagination('{{response_data['pagination']['prev_num']}}')"
                  class="paginate_button previous">Previous</a>
                {% endif %}
                <span id="paginate-number" class="paginate_button">{{(response_data['pagination']['per_page']*response_data['pagination']['page'])-(response_data['pagination']['per_page']-1)}} - {{response_data['pagination']['per_page']*response_data['pagination']['page']}} of {{response_data['pagination']['total']}}</span>
                {% if response_data['pagination']['has_next'] %}
                <a id="paginate-next-btn" href="javascript:pagination('{{response_data['pagination']['next_num']}}')"
                  class="next">Next</a>
                {% else %}
                <a id="paginate-next-btn" href="javascript:pagination('{{response_data['pagination']['next_num']}}')"
                  class="paginate_button next">Next</a>
                {% endif %}
              </div>
              <table id="datatable" class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th style="width: 85px;">UID</th>
                    <th style="width: 85px;">ID</th>
                    <th style="width: 85px;">Name</th>
                    <th style="width: 85px;">Assigned to</th>
                    <th style="width: 85px;">Last Work</th>
                    <th style="width: 85px;">Next Task</th>
                    <th style="width: 85px;">Level</th>
                    <th style="width: 85px;">Actions</th>
                  </tr>
                </thead>
                <tbody id="lead-detail">
                  {% for obj in response_data['data'] %}
                  <tr>
                    <td>{{obj.lead.id}}</td>
                    <td scope="row">
                      {{obj.lead.lead_id}}
                      <p>{{obj.lead.created_on}}</p>
                    </td>
                    <td>{{obj.lead.first_name}}</td>
                    <td>{{obj.lead.assigned_to}}</td>
                    <td>
                      <p>{{obj.sub_type}}</p>
                      <p>{{obj.completion_date}}</p>
                    </td>
                    <td>{{obj.next_task}}</td>
                    <td class="{{obj.lead_level}}">{{obj.lead_level}}
                    </td>
                    <td>
                      <a href="javascript:viewFollowup(`{{obj.lead.id}}`,`{{obj.lead.first_name}}`,`{{obj.lead.lead_id}}`);"><i
                          class="mdi mdi-comment-outline"></i></a>
                      TLW: {{obj.lead.followup_count}}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <div id="info2" class="info">Page {{response_data['pagination']['page']}} of {{response_data['pagination']['pages']}}</div>
              <div class="paginate paging_simple_numbers">
                {% if response_data['pagination']['has_prev'] %}
                <a id="paginate-prev-btn2" href="javascript:pagination('{{response_data['pagination']['prev_num']}}')"
                  class="previous">Previous</a>
                {% else %}
                <a id="paginate-prev-btn2" href="javascript:pagination('{{response_data['pagination']['prev_num']}}')"
                  class="paginate_button previous">Previous</a>
                {% endif %}
                <span id="paginate-number2" class="paginate_button">{{(response_data['pagination']['per_page']*response_data['pagination']['page'])-(response_data['pagination']['per_page']-1)}} - {{response_data['pagination']['per_page']*response_data['pagination']['page']}} of {{response_data['pagination']['total']}}</span>
                {% if response_data['pagination']['has_next'] %}
                <a id="paginate-next-btn2" href="javascript:pagination('{{response_data['pagination']['next_num']}}')"
                  class="next">Next</a>
                {% else %}
                <a id="paginate-next-btn2" href="javascript:pagination('{{response_data['pagination']['next_num']}}')"
                  class="paginate_button next">Next</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- end col -->
</div>
</div> <!-- container -->


<!-- Button trigger modal -->
<!-- Modal -->

<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalTitleID"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="commentModalTitleID">Comments</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <table id="" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Completion date</th>
                  <th>Next Deadline</th>
                  <th>Next Task</th>
                  <th>Current task</th>
                  <th>Task Type</th>
                  <th>Level</th>
                  <th>Project</th>
                  <th>Comments</th>
                </tr>
              </thead>
              <tbody id="comment-detail">

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->

{% endblock %}

{% block scriptfooter %}

<script src="{{ url_for('static', filename='plugins/datatables/datatables.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap-daterangepicker/daterangepicker.js') }}"></script>

<!-- init -->
<script src="{{ url_for('static', filename='pages/jquery.form-pickers.init.js') }}"></script>

<script>
  
  var table = $('#datatable').DataTable({
    "dom": 'B<"clear">rt',
    "bFilter": true,
    "aaSorting": [],
    "pageLength": 100,
    // "stateSave": true,
    "processing": true,
    "columnDefs": [
      {
        "target": 0,
        "visible": false,
        "searchable": false,
      }
    ],
    "ordering": false,
  });

  const searchFormDOM = $('#searchForm')
  searchFormDOM.submit(function (event){
    event.preventDefault();
    let formData = {}
    searchFormDOM.serializeArray().forEach(({ name, value }) => formData[name] = value)
    // console.log(formData, "formData")
    $.ajax('/api/leads/read', {
      method: 'POST',
      data: formData,
      dataType: "json",
      encode: true,
      success: function (data) {
        if (data.response_code == 200) {
          console.log(data);
          table.clear()
          table.draw()
          for (var i in data.response_data.data) {
            var numbers = [];
            for (var j in data.response_data.data[i].phone_number) {
              numbers.push(`<a href="tel:${data.response_data.data[i].phone_number[j]}">${data.response_data.data[i].phone_number[j]}</a>`)
            }
            table.row.add([
              `${data.response_data.data[i].id}`,
              `${data.response_data.data[i].lead_id} <p>${data.response_data.data[i].created_on}</p>`,
              `${data.response_data.data[i].first_name}`,
              `${data.response_data.data[i].assigned_to}`,
              `<p>${data.response_data.data[i].followup_last_work}</p><p>${data.response_data.data[i].followup_last_work_date}</p>`,
              `${data.response_data.data[i].project}`,
              `<span class="${data.response_data.data[i].lead_level}">${data.response_data.data[i].lead_level}
                        <p style="color: #ff0000">${data.response_data.data[i].new || ""}</p>
                      </span>`,
              `${numbers.toString()}`,
              `<a href="javascript:viewFollowup('${data.response_data.data[i].id}','${data.response_data.data[i].first_name}','${data.response_data.data[i].lead_id}');"><i
                            class="mdi mdi-comment-outline"></i></a>
                        <a href="javascript:addFollowup('${data.response_data.data[i].id}');"><i class="glyphicon glyphicon-plus"></i></a>
                        TLW: ${data.response_data.data[i].followup_count}`,
            ]).draw();
          };
          $("#paginate-number").text(`${data.response_data.pagination.page}`)
          if (data.response_data.pagination.has_next) {
            $("#paginate-next-btn").attr('href', `javascript:pagination(${data.response_data.pagination.next_num})`)
            $("#paginate-next-btn").removeClass('paginate_button freeze-btn')
          }
          else {
            $("#paginate-next-btn").addClass('paginate_button freeze-btn')
          }

          if (data.response_data.pagination.has_prev) {
            $("#paginate-prev-btn").attr('href', `javascript:pagination(${data.response_data.pagination.prev_num})`)
            $("#paginate-prev-btn").removeClass('paginate_button freeze-btn')
          }
          else {
            $("#paginate-prev-btn").addClass('paginate_button freeze-btn')
          }
        }
      }
    })
  })



  function viewFollowup(id, name, ref) {
    $.ajax(`/api/follow_ups/follow_read?lead=${id}&name=${name}&ref=${ref}`, {
      method: "GET",
      success: function (data) {
        if (data.response_code == 200) {
          document.getElementById('commentModalTitleID').innerHTML = "Comments - " + data.response_data[1] + ' - ' + data.response_data[2];
          $('#comment-detail').empty();
          for (item in data.response_data[0]) {
            $('#comment-detail').append(`
                <tr>
                      <td>${item}</td>
                      <td>${data.response_data[0][item].completion_date}</td>
                      <td>${data.response_data[0][item].next_deadline}</td>
                      <td>${data.response_data[0][item].next_task}</td>
                      <td>${data.response_data[0][item].type}</td>
                      <td>${data.response_data[0][item].sub_type}</td>
                      <td>${data.response_data[0][item].lead_level}</td>
                      <td>${data.response_data[0][item].next_project}</td>
                      <td>${data.response_data[0][item].created_by} - 
                        ${data.response_data[0][item].comment}</td>
                  </tr>
              `);
          }
          console.log(data);
        }
      }
    })
    $("#commentModal").modal('show');
  };

  function pagination(ref) {
    var formData = {
      date_start: '{{response_data["filter_data"]["date_start"]}}',
      date_end: '{{response_data["filter_data"]["date_end"]}}',
      assigned_to: '{{response_data["filter_data"]["assigned_to"]}}',
      Task: '{{response_data["filter_data"]["Task"]}}',
      sub_task: '{{response_data["filter_data"]["sub_task"]}}',
      page: ref
    };
    $.ajax('/api/reports/detailed', {
      method: 'POST',
      data: formData,
      dataType: "json",
      encode: true,
      success: function (data) {
        if (data.response_code == 200) {
          console.log(data);
          table.clear()
          table.draw()
          for (var i in data.response_data.data) {
            var numbers = [];
            for (var j in data.response_data.data[i].phone_number) {
              numbers.push(`<a href="tel:${data.response_data.data[i].phone_number[j]}">${data.response_data.data[i].phone_number[j]}</a>`)
            }
            table.row.add([
              `${data.response_data.data[i].lead.id}`,
              `${data.response_data.data[i].lead.lead_id} <p>${data.response_data.data[i].lead.created_on}</p>`,
              `${data.response_data.data[i].lead.first_name}`,
              `${data.response_data.data[i].lead.assigned_to}`,
              `<p>${data.response_data.data[i].sub_type}</p><p>${data.response_data.data[i].completion_date}</p>`,
              `<span class="${data.response_data.data[i].lead_level}">${data.response_data.data[i].lead_level}
                      </span>`,
              `<a href="javascript:viewFollowup('${data.response_data.data[i].lead.id}','${data.response_data.data[i].lead.first_name}','${data.response_data.data[i].lead.lead_id}');"><i
                            class="mdi mdi-comment-outline"></i></a>
                        TLW: ${data.response_data.data[i].lead.followup_count}`,
            ]).draw();
          };
          $("#info").text(`Page ${data.response_data.pagination.page} of ${data.response_data.pagination.pages}`)
          $("#paginate-number").text(`${data.response_data.pagination.per_page*data.response_data.pagination.page-(data.response_data.pagination.per_page-1)} - ${data.response_data.pagination.per_page*data.response_data.pagination.page} of ${data.response_data.pagination.total}`)
          if (data.response_data.pagination.has_next) {
            $("#paginate-next-btn").attr('href', `javascript:pagination(${data.response_data.pagination.next_num})`)
            $("#paginate-next-btn").removeClass('paginate_button freeze-btn')
          }
          else {
            $("#paginate-next-btn").addClass('paginate_button freeze-btn')
          }

          if (data.response_data.pagination.has_prev) {
            $("#paginate-prev-btn").attr('href', `javascript:pagination(${data.response_data.pagination.prev_num})`)
            $("#paginate-prev-btn").removeClass('paginate_button freeze-btn')
          }
          else {
            $("#paginate-prev-btn").addClass('paginate_button freeze-btn')
          }

          $("#info2").text(`Page ${data.response_data.pagination.page} of ${data.response_data.pagination.pages}`)
          $("#paginate-number2").text(`${data.response_data.pagination.per_page*data.response_data.pagination.page-(data.response_data.pagination.per_page-1)} - ${data.response_data.pagination.per_page*data.response_data.pagination.page} of ${data.response_data.pagination.total}`)
          if (data.response_data.pagination.has_next) {
            $("#paginate-next-btn2").attr('href', `javascript:pagination(${data.response_data.pagination.next_num})`)
            $("#paginate-next-btn2").removeClass('paginate_button freeze-btn')
          }
          else {
            $("#paginate-next-btn2").addClass('paginate_button freeze-btn')
          }

          if (data.response_data.pagination.has_prev) {
            $("#paginate-prev-btn2").attr('href', `javascript:pagination(${data.response_data.pagination.prev_num})`)
            $("#paginate-prev-btn2").removeClass('paginate_button freeze-btn')
          }
          else {
            $("#paginate-prev-btn2").addClass('paginate_button freeze-btn')
          }
        }
      }
    })
  };

</script>

{% endblock %}