{% extends 'index.html' %}


{% block scripthead %}
<script>
    response_code = parseInt("{{response_code}}")
    response_message = "{{response_message}}"
    {% if response_code == 200 %}
    console.log({{ response_data| tojson}})
    // document.location = "/home"
    {% else %}
    {% endif %}
    const leadsObj = {{ response_data| tojson}}

</script>
{% endblock %}

{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title-box">
                        <h4 class="page-title">View All Users </h4>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="table-responsive">
                            <div class="card-box table-responsive">
                                <table id="datatable" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Role ID</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Title</th>
                                            <th>Manager ID</th>
                                            <th>Phone</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody id="lead-detail">
                                        {% for obj in response_data %}
                                        <tr>
                                            <td scope="row">{{loop.index}}<button type="button" class="btn btn-default"
                                                style="border: none; padding: 0px 4px" data-toggle="tooltip"
                                                data-placement="right" title=""
                                                data-original-title="'{{obj.id}}'"><i
                                                class="mdi mdi-key-variant"></i></button></td>
                                                <td>{{obj.role.user_role_id}}</td>
                                                <td>{{obj.name}}</td>
                                                <td>{{obj.email_address}}</td>
                                                <td>{{obj.role.name}}</td>
                                                <td>{{obj.role.manager}}</td>
                                                <td>{{obj.phone_number}}</td>
                                                <td>
                                                    <form class="" action="/suspend" method="POST" id="follow_up_lead">
                                                        <input type="hidden" name="id" value="{{obj.id}}" >
                                                    <input type="submit" class="mdi mdi-file-restore" value="Suspend">
                                                    </form>
                                                </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div> <!-- container -->

    </div> <!-- content -->

</div>


<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->

{% endblock %}

{% block scriptfooter %}

<script src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/dataTables.bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/buttons.bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/pdfmake.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/vfs_fonts.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/buttons.print.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/dataTables.fixedHeader.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/dataTables.keyTable.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/dataTables.responsive.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/responsive.bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/dataTables.scroller.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/dataTables.colVis.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/dataTables.fixedColumns.min.js') }}"></script>

<!-- init -->
<script src="{{ url_for('static', filename='pages/jquery.datatables.init.js') }}"></script>

<script>
        $("table").each(function(){
            $(this).DataTable();
        })
    // TableManageButtons.init();

</script>

{% endblock %}